@import 'src/styles/palette';

.categories {
	width: 1320px;
	color: $white;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	}

	&__block {
		display: block;
		text-align: center;
	}

	&__image {
		width: 38px;
		height: 38px;
	}

	&__title {
		font-size: 2rem;
		font-weight: 600;
		margin: 45px 0;
	}

	&__text {
		color: rgba(255, 255, 255, 0.5);
	}
}

@media screen and (max-width: 1440px) {
	.categories {
		width: auto;

		&__container {
			grid-row-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		}
	}
}
