@import 'src/styles/palette';

.home {
	color: $white;

	&__block {
		background-image: url('src/assets/img/background-main-page.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 800px;
		min-width: 100%;
		margin: 0 auto;
	}

	&__main {
		max-width: 1440px;
		margin: 0 auto;
	}

	&__vacation {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;

		&__text {
			margin: 40px 0 40px 0;
			font-weight: 600;
			font-size: 2rem;
		}
	}

	&__type {
		margin: 40px 0 40px 0;
		font-weight: 600;
		font-size: 2rem;
		color: $black;
	}

	&__container {
		max-width: 1470px;
		margin: 0 auto;
	}

	&__title {
		font-size: 4.5rem;
		font-weight: 600;
		padding-top: 80px;
	}

	&__traveler {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;
	}
}
