@import 'src/styles/palette';

.home {
	color: $white;

	&__block {
		background-image: url('src/assets/img/background-main-page.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 800px;
		min-width: 100%;
		margin: 0 auto;
	}

	&__main {
		max-width: 1440px;
		margin: 0 auto;
	}

	&__vacation {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;

		&__text {
			margin: 40px 0 40px 0;
			font-weight: 600;
			font-size: 2rem;
		}
	}

	&__type {
		margin: 40px 0 40px 0;
		font-weight: 600;
		font-size: 2rem;
		color: $black;
	}

	&__container {
		max-width: 1470px;
		margin: 0 auto;
	}

	&__title {
		font-size: 4.5rem;
		font-weight: 600;
		padding-top: 80px;
	}

	&__traveler {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;
	}
}

@media screen and (max-width: 1520px) {
	.home {
		&__traveler {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media screen and (max-width: 1440px) {
	.home {
		width: auto;
		height: auto;

		&__block {
			width: auto;
			padding: 0 20px;
		}

		&__container {
			width: auto;
		}

		&__main {
			margin: 0 20px;
		}

		&__vacation {
			gap: 30px;
		}
	}
}

@media screen and (max-width: 1280px) {
	.home {
		&__vacation {
			grid-template-columns: repeat(2, 1fr);
		}

		&__traveler {
			grid-template-columns: repeat(2, 1fr);
		}

		&__main {
			margin-top: 700px;
		}
	}
}

@media screen and (max-width: 768px) {
	.home {
		&__vacation {
			grid-template-columns: repeat(1, 1fr);
		}

		&__traveler {
			grid-template-columns: repeat(1, 1fr);
		}

		&__main {
			margin-top: 2000px;
		}
	}
}

@media screen and (max-width: 560px) {
	.home {
		width: auto;
		min-height: 100vh;
		flex: 1 1 auto;

		&__block {
			height: auto;
			padding: 0 20px 20px 20px;
		}

		&__title {
			font-size: 2rem;
		}

		&__main {
			margin: 0 5px;
		}
	}
}
