.header {
	width: 1586px;
	margin: 0 auto;
	z-index: 100;
	position: relative;

	&__container {
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 92px;
		height: 44px;
	}

	&__ul {
		display: flex;
		gap: 20px;
	}
}
