@import 'styles/palette';

.footer {
	background: #141414;
	color: $white;

	&__container {
		max-width: 1440px;
		margin: 0 auto;
		padding: 50px 0;

		&__links {
			display: flex;
			justify-content: space-between;
			margin-top: 40px;

			&__info {
				color: rgba(255, 255, 255, 0.5);
				margin-top: 20px;
			}
		}

		&__images {
			display: flex;
			justify-content: space-between;
		}

		&__favicon {
			display: flex;
			gap: 20px;
			cursor: pointer;
		}
	}
}
