@import 'styles/palette';

.footer {
	background: #141414;
	color: $white;

	&__container {
		max-width: 1440px;
		margin: 0 auto;
		padding: 50px 0;

		&__links {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			margin-top: 40px;

			&__info {
				color: rgba(255, 255, 255, 0.5);
				margin-top: 20px;
			}
		}

		&__images {
			display: flex;
			justify-content: space-between;
		}

		&__favicon {
			display: flex;
			gap: 20px;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1440px) {
	.footer {
		padding: 0 20px;

		&__container {
			&__links {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.footer {
		&__container {
			&__links {
				grid-template-columns: repeat(3, 1fr);
				grid-row-gap: 30px;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.footer {
		&__container {
			min-height: 100%;
			display: flex;
			flex-direction: column;
			&__links {
				grid-template-columns: repeat(2, 1fr);
				grid-row-gap: 30px;
			}
		}
	}
}

@media screen and (max-width: 515px) {
	.footer {
		&__container {
			&__links {
				grid-template-columns: repeat(1, 1fr);
			}

			&__images {
				display: block;
			}

			&__favicon {
				margin-top: 20px;
			}
		}
	}
}
