@import 'styles/palette';

.offers {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
	}

	&__text {
		font-size: 2rem;
		font-weight: 600;
		color: $black;
		margin-top: 140px;
	}
}

@media screen and (max-width: 1470px) {
	.offers {
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 20px;
		}
	}
}

@media screen and (max-width: 980px) {
	.offers {
		&__container {
			grid-template-columns: repeat(1, 1fr);
		}

		&__text {
			margin-top: 140px;
		}
	}
}

@media screen and (max-width: 770px) {
	.offers {
		&__text {
			margin-top: 130px;
		}
	}
}

@media screen and (max-width: 425px) {
	.offers {
		&__text {
			margin-top: 30px;
		}
	}
}
